<section id="about">
  <div class="about container">
    <div class="about__content">
      <h2 class="about__content__title">Про нас</h2>
      <p class="about__content__text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet rerum
        praesentium minus facere neque cum quibusdam a numquam? Amet cum hic
        facilis adipisci animi recusandae cumque commodi obcaecati possimus!
        Voluptatibus, ipsam pariatur cumque illum exercitationem id, odio
        maiores fuga voluptate vel tenetur eligendi ex ipsa, eum eius quisquam
        nam quasi!
      </p>
    </div>
  </div>
</section>
