<section id="benefits">
  <div class="benefits container">
    <h2>Наші переваги</h2>
    <ul class="benefits__list">
      <li class="benefits__list__item">
        <div class="benefits__list__item__img-wrapper">
          <img src="./img/benefits/house.png" alt="" />
        </div>

        <div class="benefits__list__item__text-wrapper">
          <h3>title</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus
            doloremque non saepe libero qui nobis cum cumque nulla
            necessitatibus, quaerat eos labore nisi quae aspernatur harum vitae
            obcaecati beatae dolore.
          </p>
        </div>
      </li>
      <li class="benefits__list__item">
        <div class="benefits__list__item__img-wrapper">
          <img src="./img/benefits/character.png" alt="" />
        </div>

        <div class="benefits__list__item__text-wrapper">
          <h3>title</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus
            doloremque non saepe libero qui nobis cum cumque nulla
            necessitatibus, quaerat eos labore nisi quae aspernatur harum vitae
            obcaecati beatae dolore.
          </p>
        </div>
      </li>
      <li class="benefits__list__item">
        <div class="benefits__list__item__img-wrapper">
          <img src="./img/benefits/reading.png" alt="" />
        </div>

        <div class="benefits__list__item__text-wrapper">
          <h3>title</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus
            doloremque non saepe libero qui nobis cum cumque nulla
            necessitatibus, quaerat eos labore nisi quae aspernatur harum vitae
            obcaecati beatae dolore.
          </p>
        </div>
      </li>
      <li class="benefits__list__item">
        <div class="benefits__list__item__img-wrapper">
          <img src="./img/benefits/kite.png" alt="" />
        </div>

        <div class="benefits__list__item__text-wrapper">
          <h3>title</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus
            doloremque non saepe libero qui nobis cum cumque nulla
            necessitatibus, quaerat eos labore nisi quae aspernatur harum vitae
            obcaecati beatae dolore.
          </p>
        </div>
      </li>
      <li class="benefits__list__item">
        <div class="benefits__list__item__img-wrapper">
          <img src="./img/benefits/art.png" alt="" />
        </div>

        <div class="benefits__list__item__text-wrapper">
          <h3>title</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus
            doloremque non saepe libero qui nobis cum cumque nulla
            necessitatibus, quaerat eos labore nisi quae aspernatur harum vitae
            obcaecati beatae dolore.
          </p>
        </div>
      </li>
      <li class="benefits__list__item">
        <div class="benefits__list__item__img-wrapper">
          <img src="./img/benefits/food.png" alt="" />
        </div>

        <div class="benefits__list__item__text-wrapper">
          <h3>title</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus
            doloremque non saepe libero qui nobis cum cumque nulla
            necessitatibus, quaerat eos labore nisi quae aspernatur harum vitae
            obcaecati beatae dolore.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
