<section id="benefits">
  <div class="benefits container">
    <h2>Наші переваги</h2>
    <ul class="benefits__list">
      <li class="benefits__list__item">
        <img src="./img/benefits/house.png" alt="" width="100" height="100" />
        <div class="benefits__list__item__text-swapper">
          <h3>title</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus
            doloremque non saepe libero qui nobis cum cumque nulla
            necessitatibus, quaerat eos labore nisi quae aspernatur harum vitae
            obcaecati beatae dolore.
          </p>
        </div>
      </li>
      <li class="benefits__list__item">
        <img
          src="./img/benefits/character.png"
          alt=""
          width="100"
          height="100"
        />
        <div class="benefits__list__item__text-swapper">
          <h3>title</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus
            doloremque non saepe libero qui nobis cum cumque nulla
            necessitatibus, quaerat eos labore nisi quae aspernatur harum vitae
            obcaecati beatae dolore.
          </p>
        </div>
      </li>
      <li class="benefits__list__item">
        <img src="./img/benefits/reading.png" alt="" width="100" height="100" />
        <div class="benefits__list__item__text-swapper">
          <h3>title</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus
            doloremque non saepe libero qui nobis cum cumque nulla
            necessitatibus, quaerat eos labore nisi quae aspernatur harum vitae
            obcaecati beatae dolore.
          </p>
        </div>
      </li>
      <li class="benefits__list__item">
        <img src="./img/benefits/kite.png" alt="" width="100" height="100" />
        <div class="benefits__list__item__text-swapper">
          <h3>title</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus
            doloremque non saepe libero qui nobis cum cumque nulla
            necessitatibus, quaerat eos labore nisi quae aspernatur harum vitae
            obcaecati beatae dolore.
          </p>
        </div>
      </li>
      <li class="benefits__list__item">
        <img src="./img/benefits/art.png" alt="" width="100" height="100" />
        <div class="benefits__list__item__text-swapper">
          <h3>title</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus
            doloremque non saepe libero qui nobis cum cumque nulla
            necessitatibus, quaerat eos labore nisi quae aspernatur harum vitae
            obcaecati beatae dolore.
          </p>
        </div>
      </li>
      <li class="benefits__list__item">
        <img src="./img/benefits/food.png" alt="" width="100" height="100" />
        <div class="benefits__list__item__text-swapper">
          <h3>title</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus
            doloremque non saepe libero qui nobis cum cumque nulla
            necessitatibus, quaerat eos labore nisi quae aspernatur harum vitae
            obcaecati beatae dolore.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
