<section id="benefits">
  <div class="benefits container">
    <h2>Наші переваги</h2>
    <ul class="benefits__list">
      <li class="benefits__list__item">
        <div class="benefits__list__item__img-wrapper">
          <img src="./img/benefits/house.png" alt="" />
        </div>

        <div class="benefits__list__item__text-wrapper">
          <h4>Частний будинок з огороженою територією</h4>
        </div>
      </li>
      <li class="benefits__list__item">
        <div class="benefits__list__item__img-wrapper">
          <img src="./img/benefits/character.png" alt="" />
        </div>

        <div class="benefits__list__item__text-wrapper">
          <h4>Індивідуальний підхід до дитини</h4>
        </div>
      </li>
      <li class="benefits__list__item">
        <div class="benefits__list__item__img-wrapper">
          <img src="./img/benefits/reading.png" alt="" />
        </div>

        <div class="benefits__list__item__text-wrapper">
          <h4>Повноцінна підготовка до школи</h4>
        </div>
      </li>
      <li class="benefits__list__item">
        <div class="benefits__list__item__img-wrapper">
          <img src="./img/benefits/kite.png" alt="" />
        </div>

        <div class="benefits__list__item__text-wrapper">
          <h4>Відпочинок на свіжому повітрі</h4>
        </div>
      </li>
      <li class="benefits__list__item">
        <div class="benefits__list__item__img-wrapper">
          <img src="./img/benefits/art.png" alt="" />
        </div>

        <div class="benefits__list__item__text-wrapper">
          <h4>Різномантіні мистецькі заняття</h4>
        </div>
      </li>
      <li class="benefits__list__item">
        <div class="benefits__list__item__img-wrapper">
          <img src="./img/benefits/food.png" alt="" />
        </div>

        <div class="benefits__list__item__text-wrapper">
          <h4>Збалансоване харчування</h4>
        </div>
      </li>
    </ul>
  </div>
</section>
