<section id="contacts">
  <div class="contacts container">
    <h2 class="contacts__title">Контакти</h2>
    <div class="contacts__wrapper">
      <div class="contacts__wrapper__address">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2547.476295697542!2d30.481220277024434!3d50.320364596721234!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4c7f70dcf25c7%3A0xe0b1911f8b946a9b!2z0LLRg9C70LjRhtGPINCd0LXQt9Cw0LvQtdC20L3QvtGB0YLRliwgMTAsINCl0L7RgtGW0LIsINCa0LjRl9Cy0YHRjNC60LAg0L7QsdC7LiwgMDgxNzE!5e0!3m2!1suk!2sua!4v1706699941223!5m2!1suk!2sua"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
      <div class="contacts__wrapper__form-box">
        <span class="title">Leave a Comment</span>
        <form class="form">
          <div class="group">
            <input placeholder="" type="text" required="" />
            <label for="name">Name</label>
          </div>
          <div class="group">
            <input
              placeholder=""
              type="email"
              id="email"
              name="email"
              required=""
            />
            <label for="email">Email</label>
          </div>
          <div class="group">
            <textarea
              placeholder=""
              id="comment"
              name="comment"
              rows="5"
              required=""
            ></textarea>
            <label for="comment">Comment</label>
          </div>
          <button type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</section>
