<section id="courses">
  <div class="courses container">
    <h2 class="courses__title">Заняття</h2>
    <ul class="courses__list">
      <li class="courses__list__item">
        <div class="courses__list__item__img-wrapper">
          <img src="./img/courses/school2.jpg" alt="" />
        </div>
        <div class="courses__list__item__text-wrapper">
          <h3>Підготовка до школи</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto
            reprehenderit distinctio optio nulla eum quod. Magnam eos, harum
            natus debitis, cumque, deserunt saepe modi ea maiores dicta
            consequatur sequi laboriosam.
          </p>
        </div>
      </li>
      <li class="courses__list__item">
        <div class="courses__list__item__img-wrapper">
          <img src="./img/courses/clay.jpg" alt="" />
        </div>
        <div class="courses__list__item__text-wrapper">
          <h3>Творчість</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto
            reprehenderit distinctio optio nulla eum quod. Magnam eos, harum
            natus debitis, cumque, deserunt saepe modi ea maiores dicta
            consequatur sequi laboriosam.
          </p>
        </div>
      </li>
      <li class="courses__list__item">
        <div class="courses__list__item__img-wrapper">
          <img src="./img/courses/courses1.jpg" alt="" />
        </div>
        <div class="courses__list__item__text-wrapper">
          <h3>Хореографія</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto
            reprehenderit distinctio optio nulla eum quod. Magnam eos, harum
            natus debitis, cumque, deserunt saepe modi ea maiores dicta
            consequatur sequi laboriosam.
          </p>
        </div>
      </li>
      <li class="courses__list__item">
        <div class="courses__list__item__img-wrapper">
          <img src="./img/courses/courses1.jpg" alt="" />
        </div>
        <div class="courses__list__item__text-wrapper">
          <h3>Вокал</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto
            reprehenderit distinctio optio nulla eum quod. Magnam eos, harum
            natus debitis, cumque, deserunt saepe modi ea maiores dicta
            consequatur sequi laboriosam.
          </p>
        </div>
      </li>
      <li class="courses__list__item">
        <div class="courses__list__item__img-wrapper">
          <img src="./img/courses/fullday.jpg" alt="" />
        </div>
        <div class="courses__list__item__text-wrapper">
          <h3>Група повного дня</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto
            reprehenderit distinctio optio nulla eum quod. Magnam eos, harum
            natus debitis, cumque, deserunt saepe modi ea maiores dicta
            consequatur sequi laboriosam.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
