<section id="courses">
  <div class="courses container">
    <h2 class="courses__title">Заняття</h2>
    <div class="courses__slider">
      <div
        class="courses__slider__slide"
        style="background-image: url(../img/courses/learn.jpg)"
      >
        <div class="courses__slider__slide__content">
          <h2>
            Підготовка <br />
            до <br />школи
          </h2>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates
            quisquam perspiciatis, tempora voluptate nihil magnam expedita
            suscipit aliquam fugiat accusamus dicta iusto deleniti modi officiis
            exercitationem provident dolore minima ab quaerat minus illo?
            Molestias ipsam adipisci maiores doloremque id architecto beatae
            temporibus labore assumenda alias, dolorum sunt delectus laboriosam.
            Esse?
          </p>
        </div>
      </div>
      <div
        class="courses__slider__slide"
        style="background-image: url(../img/courses/day.jpg)"
      >
        <div class="courses__slider__slide__content">
          <h2>
            група <br />
            повного <br />
            дня
          </h2>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates
            quisquam perspiciatis, tempora voluptate nihil magnam expedita
            suscipit aliquam fugiat accusamus dicta iusto deleniti modi officiis
            exercitationem provident dolore minima ab quaerat minus illo?
            Molestias ipsam adipisci maiores doloremque id architecto beatae
            temporibus labore assumenda alias, dolorum sunt delectus laboriosam.
            Esse?
          </p>
        </div>
      </div>
      <div
        class="courses__slider__slide"
        style="background-image: url(../img/courses/art.jpg)"
      >
        <div class="courses__slider__slide__content">
          <h2>
            Творчі <br />
            курси
          </h2>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates
            quisquam perspiciatis, tempora voluptate nihil magnam expedita
            suscipit aliquam fugiat accusamus dicta iusto deleniti modi officiis
            exercitationem provident dolore minima ab quaerat minus illo?
            Molestias ipsam adipisci maiores doloremque id architecto beatae
            temporibus labore assumenda alias, dolorum sunt delectus laboriosam.
            Esse?
          </p>
        </div>
      </div>
      <div
        class="courses__slider__slide"
        style="background-image: url(../img/courses/actor.jpg)"
      >
        <div class="courses__slider__slide__content">
          <h2>Акторська<br />майстерність</h2>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates
            quisquam perspiciatis, tempora voluptate nihil magnam expedita
            suscipit aliquam fugiat accusamus dicta iusto deleniti modi officiis
            exercitationem provident dolore minima ab quaerat minus illo?
            Molestias ipsam adipisci maiores doloremque id architecto beatae
            temporibus labore assumenda alias, dolorum sunt delectus laboriosam.
            Esse?
          </p>
        </div>
      </div>

      <div
        class="courses__slider__slide"
        style="background-image: url(../img/courses/sing.jpg)"
      >
        <div class="courses__slider__slide__content">
          <h2>Вокал</h2>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates
            quisquam perspiciatis, tempora voluptate nihil magnam expedita
            suscipit aliquam fugiat accusamus dicta iusto deleniti modi officiis
            exercitationem provident dolore minima ab quaerat minus illo?
            Molestias ipsam adipisci maiores doloremque id architecto beatae
            temporibus labore assumenda alias, dolorum sunt delectus laboriosam.
            Esse?
          </p>
        </div>
      </div>
      <div
        class="courses__slider__slide"
        style="background-image: url(../img/courses/dance.jpg)"
      >
        <div class="courses__slider__slide__content">
          <h2>Хореографія</h2>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates
            quisquam perspiciatis, tempora voluptate nihil magnam expedita
            suscipit aliquam fugiat accusamus dicta iusto deleniti modi officiis
            exercitationem provident dolore minima ab quaerat minus illo?
            Molestias ipsam adipisci maiores doloremque id architecto beatae
            temporibus labore assumenda alias, dolorum sunt delectus laboriosam.
            Esse?
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
