<footer>
  <div class="footer container">
    <div class="footer__up">
      <div class="footer__up__text-container">
        <h3>Адреса:</h3>
        <p>
          Київська обл., <br />
          с.Хотів, <br />
          вул.Незалежності 10
        </p>
        <h3>Зв'язок з нами:</h3>
        <p>
          тел.:+380 (97) 123 45 67 <br />
          email: 5Tg2N@example.com
        </p>
      </div>
      <div class="footer__up__social__container">
        <h3>Ми в соцмережах:</h3>
        <ul>
          <li>
            <a href="https://www.facebook.com/" target="_blank">
              <i class="fa-brands fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/" target="_blank">
              <i class="fa-brands fa-instagram"></i>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/" target="_blank">
              <i class="fa-brands fa-telegram"></i>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/" target="_blank">
              <i class="fa-brands fa-viber"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="footer__copyright">
      <p>
        Дитячий центр розвитку "ЧАРІВНЕ ЗЕРНЯТКО" &copy; 2024. Всі права
        захищені.
      </p>
    </div>
  </div>
</footer>
