<header class="header">
  <nav class="container nav">
    <a href="./" class="nav__logo">Charivne zerniatko</a>
    <ul class="nav__list">
      <li class="nav__list__item">
        <a href="#about">Про нас</a>
      </li>
      <li class="nav__list__item">
        <a href="#benefits">Наші переваги</a>
      </li>
      <li class="nav__list__item">
        <a href="#courses">Заняття</a>
      </li>
      <li class="nav__list__item">
        <a href="#contacts">Контакти</a>
      </li>
    </ul>
  </nav>
</header>
