<section id="hero">
  <div class="hero container">
    <div class="hero__content">
      <h1 class="hero__content__title">Чарівне зернятко</h1>
      <p class="hero__content__text">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. A aperiam
        quibusdam dignissimos et explicabo nemo fuga aliquid amet alias, totam
        magni earum numquam repellat nihil fugit officiis adipisci! Enim
        obcaecati voluptate et autem corporis perferendis facilis odit, culpa,
        velit veniam nam blanditiis ratione, eaque tempore impedit? Dolore quia
        pariatur natus.
      </p>
      <a href="#contacts" class="hero__content__link">Записатися на заняття</a>
    </div>
    <div class="hero__images">
      <div class="hero__images__swapper">
        <img src="./img/hero/hero1.jpg" alt="Hero image" draggable="false" />
      </div>
      <div class="hero__images__swapper">
        <img src="./img/hero/hero2.jpg" alt="Hero image" draggable="false" />
      </div>
      <div class="hero__images__swapper">
        <img src="./img/hero/hero4.jpg" alt="Hero image" draggable="false" />
      </div>
      <div class="hero__images__swapper">
        <img src="./img/hero/hero3.jpg" alt="Hero image" draggable="false" />
      </div>
      <div class="hero__images__swapper">
        <img src="./img/hero/hero5.jpg" alt="Hero image" draggable="false" />
      </div>
    </div>
  </div>
</section>
