#about {
  width: 100%;
}

.about {
  width: 100%;
  display: flex;
  height: 50vh;
  color: var(--dark-primary-color);

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__title {
      font-size: 1.5rem;
      font-weight: 700;
      letter-spacing: 0.02em;
      line-height: 1.5;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 20px;
    }

    &__text {
      font-size: 1.2rem;
      line-height: 1.5;
      letter-spacing: 0.02em;
    }
  }
}
