#about {
  width: 100%;
}

.about {
  width: 100%;
  display: flex;
  color: var(--dark-primary-color);

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
