/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.scss');
@import url('./hero.scss');
@import url('./about.scss');
@import url('./benefits.scss');
@import url('./courses.scss');
@import url('./contacts.scss');
@import url('./footer.scss');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  --dark-primary-color: #0288d1;
  --dark-primary-bg-color: rgba(2, 136, 209, 0.4);
  --light-primary-color: #b3e5fc;
  --primary-color: #03a9f4;
  --light-icons-color: #fff;
  --accent-color: #ffc107;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --divider-color: #bdbdbd;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  background-color: var(--light-icons-color);
}

h2,
h3 {
  color: var(--primary-text-color);
}
h1 {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
  color: var(--light-icons-color);
}
h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.5;
  text-transform: uppercase;
  margin-bottom: 20px;
}
h3 {
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.5;
  text-transform: uppercase;
  margin-bottom: 10px;
}

p {
  color: var(--secondary-text-color);
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-wrap: normal;
}
.container {
  width: 1440px;
  margin: 0 auto;
  padding: 20px;
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .container {
    width: 1024px;
    padding: 10px;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .container {
    width: 768px;
    padding: 10px;
  }
}

@media only screen and (max-width: 425px) {
  .container {
    width: 100%;
    padding: 10px;
  }
}

.link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 0;
  color: #fff;
}
.link-wrapper {
  position: relative;
  display: block;
  padding: 20px 0;
}
.inner-wrapper {
  position: relative;
  display: inline-block;
}
.wrapper-15 {
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background-color: var(--light-icons-color);
    transform: scaleY(0);
    transform-origin: top left;

    transition: transform 0.3s;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background-color: var(--light-icons-color);
    transform: scaleY(0);
    transform-origin: bottom right;

    transition: transform 0.3s;
  }

  .hover-15 {
    padding: 10px;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: var(--light-icons-color);
      transform: scaleX(0);
      transform-origin: top left;

      transition: transform 0.3s;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 3px;
      background-color: var(--light-icons-color);
      transform: scaleX(0);
      transform-origin: bottom right;

      transition: transform 0.3s;
    }
  }

  &:hover {
    &:before,
    &:after {
      transform: scaleY(1);
    }

    .hover-15 {
      &:before,
      &:after {
        transform: scaleX(1);
      }
    }
  }
}
